# Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load the data

In [2]:
data=pd.read_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\test1.csv")

In [3]:
data

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,Tata_Prima,16.0,128.76,120.5040,10,27600,normal,1.068,Yes
1,2,Tata_Prima,16.0,128.76,110.5040,10,27600,normal,1.165,Yes
2,3,Tata_Prima,16.0,128.76,100.5040,10,27600,normal,1.281,Yes
3,4,Tata_Prima,16.0,128.76,120.5040,10,27600,inclined,1.233,Yes
4,5,Tata_Prima,16.0,128.76,110.5040,10,27600,inclined,1.345,Yes
...,...,...,...,...,...,...,...,...,...,...
75,76,Benz,50.0,128.76,100.5040,10,60000,declined,0.451,No
76,77,Ashok Leyland,9.2,128.76,110.5040,6,51000,declined,0.341,No
77,78,Ashok Leyland,9.2,128.76,100.5040,6,52000,declined,0.451,No
78,79,Mahendra,19.8,63.05,72.5189,6,60000,normal,1.083,No
79,80,Mahendra,19.8,63.05,62.5189,6,61000,normal,0.008,No

# Understanding the data

In [4]:
data.head()

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,Tata_Prima,16.0,128.76,120.504,10,27600,normal,1.068,Yes
1,2,Tata_Prima,16.0,128.76,110.504,10,27600,normal,1.165,Yes
2,3,Tata_Prima,16.0,128.76,100.504,10,27600,normal,1.281,Yes
3,4,Tata_Prima,16.0,128.76,120.504,10,27600,inclined,1.233,Yes
4,5,Tata_Prima,16.0,128.76,110.504,10,27600,inclined,1.345,Yes

In [5]:
data.tail()

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
75,76,Benz,50.0,128.76,100.5040,10,60000,declined,0.451,No
76,77,Ashok Leyland,9.2,128.76,110.5040,6,51000,declined,0.341,No
77,78,Ashok Leyland,9.2,128.76,100.5040,6,52000,declined,0.451,No
78,79,Mahendra,19.8,63.05,72.5189,6,60000,normal,1.083,No
79,80,Mahendra,19.8,63.05,62.5189,6,61000,normal,0.008,No

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S.no                    80 non-null     int64
 1   Truck name              80 non-null     object
 2   Box volume(m^3)         80 non-null     float64
 3   Tire weight(in pounds)  80 non-null     float64
 4   Tire pressure(in PSI)   80 non-null     float64
 5   no of tires             80 non-null     int64
 6   GVW rating              80 non-null     int64
 7   Road conditions         80 non-null     object
 8   load capacity(lb/PSI)   80 non-null     float64
 9   validity                80 non-null     object
dtypes: float64(4), int64(3), object(3)
memory usage: 6.4+ KB

In [7]:
data.describe()

,S.no,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,load capacity(lb/PSI)
count,80.0000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,40.5000,23.750000,112.332500,98.507725,8.000000,23538.000000,0.730337
std,23.2379,15.722515,28.632782,22.155619,2.012618,14149.721865,0.510438
min,1.0000,9.200000,63.050000,52.518900,6.000000,11280.000000,0.002000
25%,20.7500,14.300000,112.332500,93.507725,6.000000,11900.000000,0.276500
50%,40.5000,17.900000,128.760000,105.504000,8.000000,27600.000000,0.478000
75%,60.2500,27.350000,128.760000,110.504000,10.000000,28000.000000,1.230750
max,80.0000,50.000000,128.760000,120.504000,10.000000,75000.000000,1.478000

In [8]:
data.nunique()

S.no                      80
Truck name                 4
Box volume(m^3)            4
Tire weight(in pounds)     2
Tire pressure(in PSI)      6
no of tires                2
GVW rating                10
Road conditions            3
load capacity(lb/PSI)     34
validity                   2
dtype: int64

In [9]:
data.columns

Index(['S.no', 'Truck name', 'Box volume(m^3)', 'Tire weight(in pounds)',
       'Tire pressure(in PSI)', 'no of tires', 'GVW rating', 'Road conditions',
       'load capacity(lb/PSI)', 'validity'],
      dtype='object')

# Changing the categorical value to numerical value

In [10]:
road_conditions_mapping = {
    'normal': 0,
    'inclined': 1,
    'declined': 2
}
data['Road conditions'] = data['Road conditions'].replace(road_conditions_mapping)

In [11]:
data.head(366)

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,Tata_Prima,16.0,128.76,120.5040,10,27600,0,1.068,Yes
1,2,Tata_Prima,16.0,128.76,110.5040,10,27600,0,1.165,Yes
2,3,Tata_Prima,16.0,128.76,100.5040,10,27600,0,1.281,Yes
3,4,Tata_Prima,16.0,128.76,120.5040,10,27600,1,1.233,Yes
4,5,Tata_Prima,16.0,128.76,110.5040,10,27600,1,1.345,Yes
...,...,...,...,...,...,...,...,...,...,...
75,76,Benz,50.0,128.76,100.5040,10,60000,2,0.451,No
76,77,Ashok Leyland,9.2,128.76,110.5040,6,51000,2,0.341,No
77,78,Ashok Leyland,9.2,128.76,100.5040,6,52000,2,0.451,No
78,79,Mahendra,19.8,63.05,72.5189,6,60000,0,1.083,No
79,80,Mahendra,19.8,63.05,62.5189,6,61000,0,0.008,No

In [12]:
truck_name_mapping = {
    'Tata_Prima': 1,
    'Mahendra': 2,
    'Ashok Leyland': 3,
    'Benz': 4
}

# Replace the truck names with their mapped numerical values
data['Truck name'] = data['Truck name'].replace(truck_name_mapping)

In [13]:
data.head(36)

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,1,16.0,128.76,120.504,10,27600,0,1.068,Yes
1,2,1,16.0,128.76,110.504,10,27600,0,1.165,Yes
2,3,1,16.0,128.76,100.504,10,27600,0,1.281,Yes
3,4,1,16.0,128.76,120.504,10,27600,1,1.233,Yes
4,5,1,16.0,128.76,110.504,10,27600,1,1.345,Yes
5,6,1,16.0,128.76,100.504,10,27600,1,1.478,Yes
6,7,1,16.0,128.76,120.504,10,27600,2,1.230,Yes
7,8,1,16.0,128.76,110.504,10,27600,2,1.341,Yes
8,9,1,16.0,128.76,100.504,10,27600,2,1.451,Yes
9,10,1,16.0,128.76,120.504,10,27600,0,0.068,No
10,11,1,16.0,128.76,110.504,10,27600,0,0.165,No
11,12,1,16.0,128.76,100.504,10,27600,0,0.281,No
12,13,1,16.0,128.76,120.504,10,27600,1,0.233,No
13,14,1,16.0,128.76,110.504,10,27600,1,0.345,No
14,15,1,16.0,128.76,100.504,10,27600,1,0.478,No
15,16,1,16.0,128.76,120.504,10,27600,2,0.230,No
16,17,1,16.0,128.76,110.504,10,27600,2,0.341,No
17,18,1,16.0,128.76,100.504,10,27600,2,0.451,No
18,19,3,9.2,128.76,120.504,6,11900,0,1.068,Yes
19,20,3,9.2,128.76,110.504,6,11900,0,1.165,Yes
20,21,3,9.2,128.76,100.504,6,11900,0,1.281,Yes
21,22,3,9.2,128.76,120.504,6,11900,1,1.233,Yes
22,23,3,9.2,128.76,110.504,6,11900,1,1.345,Yes
23,24,3,9.2,128.76,100.504,6,11900,1,1.478,Yes
24,25,3,9.2,128.76,120.504,6,11900,2,1.230,Yes
25,26,3,9.2,128.76,110.504,6,11900,2,1.341,Yes
26,27,3,9.2,128.76,100.504,6,11900,2,1.451,Yes
27,28,4,50.0,128.76,120.504,10,28000,0,1.068,Yes
28,29,4,50.0,128.76,110.504,10,28000,0,1.165,Yes
29,30,4,50.0,128.76,100.504,10,28000,0,1.281,Yes
30,31,4,50.0,128.76,120.504,10,28000,1,1.233,Yes
31,32,4,50.0,128.76,110.504,10,28000,1,1.345,Yes
32,33,4,50.0,128.76,100.504,10,28000,1,1.478,Yes
33,34,4,50.0,128.76,120.504,10,28000,2,1.230,Yes
34,35,4,50.0,128.76,110.504,10,28000,2,1.341,Yes
35,36,4,50.0,128.76,100.504,10,28000,2,1.451,Yes

In [14]:
data.to_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\dataframe.csv",index=False)

In [15]:
df=pd.read_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\dataframe.csv")

In [16]:
df.head()

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,1,16.0,128.76,120.504,10,27600,0,1.068,Yes
1,2,1,16.0,128.76,110.504,10,27600,0,1.165,Yes
2,3,1,16.0,128.76,100.504,10,27600,0,1.281,Yes
3,4,1,16.0,128.76,120.504,10,27600,1,1.233,Yes
4,5,1,16.0,128.76,110.504,10,27600,1,1.345,Yes

In [17]:
df.tail()

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
75,76,4,50.0,128.76,100.5040,10,60000,2,0.451,No
76,77,3,9.2,128.76,110.5040,6,51000,2,0.341,No
77,78,3,9.2,128.76,100.5040,6,52000,2,0.451,No
78,79,2,19.8,63.05,72.5189,6,60000,0,1.083,No
79,80,2,19.8,63.05,62.5189,6,61000,0,0.008,No

# Applying the Regression model :

In [18]:
from sklearn.model_selection import train_test_split

# Read the dataset

df=pd.read_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\dataframe.csv")
# Separate features and target variable
X = df.drop(['validity',"S.no",'Box volume(m^3)','Tire weight(in pounds)'], axis=1)  # Features
y = df['validity']  # Target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
from sklearn.linear_model import LogisticRegression

# Create an instance of logistic regression
logreg = LogisticRegression()

# Train the model on the training data
logreg.fit(X_train, y_train)

LogisticRegression()

In [20]:
y_pred = logreg.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score, classification_report

# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate classification report
# classification_report = classification_report(y_test, y_pred)
# print("Classification Report:\n", classification_report)

Accuracy: 0.9375

## Checking for single input of a truck and predicting the output

In [22]:
d={'Truck name':[1],
   'Tire pressure(in PSI)':[128.76],
   'no of tires':[10],
   'GVW rating':[27600],
   'Road conditions':[0],
   'load capacity(lb/PSI)':[0.068]}

In [23]:
df=pd.DataFrame(d)

In [24]:
df

,Truck name,Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI)
0,1,128.76,10,27600,0,0.068

In [25]:
y_pred = logreg.predict(df)

In [26]:
y_pred

array(['No'], dtype=object)